input{
    text-align: center;
    border: 3px solid #60D0F3;
    border-radius: 3px;
    font-weight: bold;
}
input:focus{
    outline: none;
}
input:active{
    outline: none;
}
.error{
    border-color: #FF0B49!important;
    background-color: #EF9CAD;
}
.error:active{
    border-color: #FF0B49!important;
}
.error:focus{
    border-color: #FF0B49!important;
    outline: none!important;
}
